<div class="container">
    <div class="row">

    </div>
</div>

<div class="container">
    <div class="row timeline">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="timeline-section section-one">
                <div class="timeline-left-icon">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </div>
                <div class="content-box">
                    <div class="triangle-left"></div>
                    <div class="rectangle-left"></div>
                </div>
            </div>
            <div class="timeline-section section-two" style="text-align: right;">
                <div class="dabba-top"></div>
                <div class="timeline-right-icon">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <div class="dabba-bottom"></div>
                <div class="content-box">
                    <div class="triangle-right"></div>
                    <div class="rectangle-right"></div>
                </div>                
            </div>
            <div class="timeline-section section-three">
                <div class="timeline-left-icon">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
                <div class="content-box">
                    <div class="triangle-left"></div>
                    <div class="rectangle-left"></div>
                </div>  
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>