.timeline{
    padding: 50px;
}
.timeline-section{
    height: 200px;
}
.section-one{
    border-left: 2px solid maroon;
    border-bottom: 2px solid maroon;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
    width: calc(100% - 20px);
}
.dabba-top{
    height: 20px;
    width: 20px;
    position: relative;
    top: -2.5px;
    float: right;
    border-top: 2px solid maroon;
    border-top-right-radius: 10px;
}
.dabba-bottom{
    height: 20px;
    width: 20px;
    position: relative;
    margin-top: 142px;
    float: right;
    border-bottom: 2px solid maroon;
    border-bottom-right-radius: 10px;    
}
.section-two{
    border-right: 2px solid maroon;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.section-three{
    border-top-left-radius: 10px;
    border-top: 2px solid maroon;
    border-left: 2px solid maroon;
    width: calc(100% - 20px);
}
.timeline-left-icon, .timeline-right-icon{
    top: calc(50% - 14px);
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 1.7em;
    padding: 5px;
    border: 1px solid maroon;
    border-radius: 50%;
    color: white;
    background: maroon;
    text-align: center;
}
.timeline-left-icon{
    left: -19px;
}
.timeline-right-icon{
    left: calc(100% - 19px);
}
.timeline-left-text{
    padding: 25px;
    line-height: 200px;
}