<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-0"></div>
            <div class="col-md-8 col-xs-12 intro-section-wrapper center-text">
                <div class="intro-section">
                    <h2>NomNomBloging</h2>
                    <p class="">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <button class="btn btn-lg btn-primary hello-btn">Say Hello!</button>
            </div>
            <div class="col-md-2 col-xs-0"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row timeline">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="timeline-section section-one">
                <div class="timeline-left-icon">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </div>
                <div class="content-box">
                    <div class="triangle-left"></div>
                    <div class="rectangle rectangle-left">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>
                </div>
            </div>
            <div class="timeline-section section-two" style="text-align: right;">
                <div class="dabba-top"></div>
                <div class="timeline-right-icon">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <div class="dabba-bottom"></div>
                <div class="content-box">
                    <div class="triangle-right"></div>
                    <div class="rectangle rectangle-right">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </div>
                </div>
            </div>
            <div class="timeline-section section-three">
                <div class="timeline-left-icon">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
                <div class="content-box">
                    <div class="triangle-left"></div>
                    <div class="rectangle rectangle-left">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
</div>