<div class="container">
    <div class="content-wrapper">
        <div class="form-conrainer">
            <div class="form-overlay">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 form-container-right">
                        <h4 class="center-text">Login and Experience</h4>
                        <form>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                    name="pwd">
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="remember"> Remember me</label>
                            </div>
                            <div class="center-text">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button type="submit" class="btn btn-primary">Signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>