.blog-side-panel{
    padding: 100px 20px;
}
.panel{
    border: 1px solid black;
    border-radius: 10px;
}
.panel-heading{
    border-radius: 10px 10px 0px 0px;    
}
.panel-body, .panel-heading{
    padding-left: 30px;
    padding-right: 30px;
}
.footer{
    height: 100px;
    background-color: grey;
}
.footer-left{
    padding: 20px;
    text-align: center;
}
.footer-right{
    line-height: 100px;
    text-align: center;
}
.fa{
    margin: 0px 5px;
}