.btn{
    margin: 5px 5px 20px 5px;
    border-radius: 8px;
}
.form-control{
    border: 1px solid grey;
    border-radius: 8px;
}

textarea{
    resize: vertical;
}
.modal-close-button{
    margin: 0;
}